{% extends 'base_admin.html' %}
{% block title %}
<title>{{category.name}}</title>
{% endblock title %}
{% block content %}
<h2 class="book_h2">Категория - {{category.name}}</h2>

<p>Краткая информация о категории</p>
<div>
  {{category.description}}
</div>

<a href="{% url 'shop:category_edit' slug=category.slug %}" class="btn btn-light"
  >Изменить категорию</a
>
<a href="{% url 'shop:category_delete' slug=category.slug %}" class="btn btn-danger"
  >Удалить категорию</a
>

{% endblock content %}
