{% extends 'base_admin.html' %}
{% block title %}
<title>Добавление категории</title>
{% endblock title %}
{% block content %}
<h2 class="book_h2">Добавление категории</h2>
<form method="post" enctype="multipart/form-data" class="user-form">
  {% csrf_token %}
    <div class="fields">
    {% for field in form %}
    <div class="text-field">
      <span class="text-field__label">{{field.label_tag}}</span>
      {{field}}
    </div>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-light">Добавить категорию</button>
</form>
{% endblock content %}
