{% extends 'base_admin.html' %}
{% load static %}
{% block title %}
<title>Все заказы</title>
{% endblock title %}
{% block content %}
<h2 class="book_h2">Таблица заказов</h2>
<div class="cart-detail" style="max-height: 500px;">
<table>
  <thead >
    <tr>
      <th class="order-header" style="color: black; background-color: white">Номер заказа</th>
      <th class="order-header" style="color: black; background-color: white">Пользователь</th>
      <th class="order-header" style="color: black; background-color: white">Способ оплаты</th>
      <th class="order-header" style="color: black; background-color: white">Способ доставки</th>
      <th class="order-header" style="color: black; background-color: white">Дата</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td class="order-number">
        <a href="{% url 'order_detail' order.number %}" style="color: white;">{{ order.number }}</a>
      </td>
      <td class="order-delivery">{{ order.user }}</td>
      <td class="order-payment">{{ order.payment }}</td>
      <td class="order-delivery">{{ order.delivery }}</td>
      <td class="order-date">{{ order.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}
