{% extends 'base.html' %}

{% block title %}
<title>{{product.name}}</title>
{% endblock title %}

{% block content %}
<div>Наименование - {{product.name}}</div>
<div>Описание - {{product.description}}</div>
<div>Стоимость - {{product.price}}</div>

<p>Краткая информация о товаре</p>
<div>6 случайных товаров из этой категории</div>

<a href="{% url 'shop:product_edit' slug=product.slug %}">Изменить товар</a>
<a href="{% url 'shop:product_delete' slug=product.slug %}">Удалить товар</a>

{% endblock content %}