* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e2e1e1;
		min-height: 100%;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  height: 7vh;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100000;
}

.header a {
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  color: #fff;
  opacity: 0.7;
}

.header a:hover {
  opacity: 1;
}

.header .left{
 margin-left: 5vw;
}

.header .left a {
  gap: 10px;
}

.container {
    display: flex;
    margin: 20px;
}




.product-list {
	width: 75%;
	padding: 20px;
	margin-left: 5%;
}

.product-list-big {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin-top: 5vh;
}


.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}



/* Карточки */
.card {
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

.card:hover {
  box-shadow: 4px 8px 16px rgba(95, 94, 94, 0.2);
}

.card__top {
  flex: 0 0 220px;
  position: relative;
  overflow: hidden;
}


.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card__prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  flex: 0 0 40%;
}


.card__category {
  font-size: 10px;
}



.card__category::before {
  content: "💡";
  margin-right: 4px;
  position: relative;
}

.card__price {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #414141;
}

.card__title:hover {
  color: #414141;
}

.card__btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card__btns__btn {
  display: block;
  width: 48%;
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
  padding: 10px;
  text-align: center;
  border: 1px solid #7e7e7e;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: auto;
	text-decoration: none;
	background-color: #f4f4f4;
}

.card__btns__btn:hover {
  border: 1px solid #474747;
  background-color: #474747;
  color: #fff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;
  margin: 2.50rem auto;
}


.my_block {
	margin: 50px;
}



.modal-my {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1; /* Помещаем модальное окно поверх других элементов */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включаем прокрутку, если нужно */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}


.modal-my__order-form {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1; /* Помещаем модальное окно поверх других элементов */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включаем прокрутку, если нужно */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content-my {
    background-color: #fff;
    margin: 15% auto; /* Центрируем модальное окно */
    padding: 20px;
    border: 1px solid #888;
    width: 415px; /* Ширина модального окна */
}

.modal-content-my__order-form {
    background-color: #fff;
    margin: 15% auto; /* Центрируем модальное окно */
    padding: 20px;
    border: 1px solid #888;
    width: 700px; /* Ширина модального окна */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}