/* Профиль */
.user-card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.user-card .image img {
    transition: all 0.5s
}

.user-card:hover .image img {
    transform: scale(1.5)
}

.btn-new {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.user-card .name {
    font-size: 15px;
    font-weight: bold
}

.user-card .name-1 {
    font-size: 24px !important;
    font-weight: bold
}

.user-card .mail {
    font-size: 14px;
    font-weight: 600
}

.user-card .tel {
    font-size: 12px
}

.orders {
    color: black;
    text-decoration: none;
}

.user-card .orders-span {
    font-size: 22px;
    font-weight: bold
}

.user-card .follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.user-card .btns {
    justify-content: space-between;
    gap: 5px;
}

.user-card .btn1 {
    height: 40px;
    width: fit-content;
    border: none;
    color: #fff;
    font-size: 13.5px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.user-card .text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.user-card .icons i {
    font-size: 19px
}

.user-card hr .new1 {
    border: 1px solid
}

.user-card .join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold;
    display: flex;
    text-align: center;
}

.user-card .date {
    background-color: #ccc
}

/* Конец профиля */

@media screen and (max-width: 550px) {
    .user-card {
        width: max-content;
    }

    .user-card .btn1 {
        font-size: 11px;
    }
}

@media screen and (max-width: 420px) {
    .user-card {
        width: 200px;
    }

    .user-card .name-1 {
        font-size: 21px !important;
    }

    .user-card .name {
        font-size: 12px;
    }

    .user-card .mail {
        font-size: 11px;
    }

    .user-card .tel {
        font-size: 9px;
    }

    .user-card .orders-span {
        font-size: 19px;
    }

    .user-card .btn1 {
        font-size: 9px;
    }


    .user-card .join {
        font-size: 8px;
    }

    .user-h2 {
        text-align:center;

    }
}