{% extends 'users/base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
    <div class="fields">
		{% for field in form %}
		<div class="text-field">
			<span class="text-field__label">{{field.label_tag}}</span>
			{{field}}
        </div>
        {% if field.errors %}
        <span>Исправьте ошибки в поле:</span>
        <div class="error-list">
            <ul>
                {% for error in field.errors %}
                <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endfor %}
    <button type="submit" class="btn btn-primary" style="margin: 20px 0;">Изменить</button>
</form>

{% endblock content %}