{% extends 'base.html' %}
{% block title %}
<title>Изменение профиля</title>
{% endblock title %}
{% block content %}

<h2 class="user-p">{{ title }}</h2>

<div class="container">
  <form method="post" enctype="multipart/form-data" class="user-form">
    {% csrf_token %}
    <div class="fields">
      {% for field in form %}
      <div class="text-field">
        <span class="text-field__label">{{field.label_tag}}</span>
        {{field}}
      </div>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
  </form>
</div>

{% endblock content %}
