{% extends 'base.html' %}
{% block title %}
<title>Вход</title>
{% endblock title %}

{% block content %}


<form method="post" class="user-form login-form">
    {% csrf_token %}
    <h2>Пожалуйста, войдите на сайт</h2>
        <div class="fields">
			{% for field in form %}
			<div class="text-field">
				<span class="text-field__label">{{field.label_tag}}</span>
				{{field}}
			</div>
			{% endfor %}
    <button type="submit" class="btn btn-primary">Войти</button>
</form>

{% endblock content %}