{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}

<div class="container">
    <div class="left">
        <aside class="sidebar">
            <h2>Категории товаров</h2>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'shop:products_by_category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </aside>
        <div class="filters">
            <form method="get">
                {{ filterset.form.as_p }}
                <button type="submit" class="btn btn-primary">Фильтровать</button>
            </form>
        </div>
        </div>
        <main class="product-list">
            <div class="up">
            <h2>Товары</h2>
                  <div class="current">
      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
      </div>
                </div>
            <div class="products">
    <div class="cards">
{% for product in products %}
<div class="card">
  <div class="card__top">
    {% if product.image %}
    <img
      src="{{ product.image.url }}"
      class="card-img-top"
      alt="{{ product.name }}"
      style="width: 100%; height: 200px; object-fit: cover"
    />
    {% else %}
    <img
      src="{% static 'img/no_image.png' %}"
      class="card-img-top"
      alt="{{ product.name }}"
      style="width: 100%; height: 200px; object-fit: cover"
    />
    {% endif %}
  </div>
  <div class="card__bottom">
    <div class="card__prices">
        <div class="card__price">{{product.price}}</div>
        <div class="card__category">{{product.category}}</div>
    </div>
    <a href="{{ product.get_absolute_url }}" class="card__title">
      {{product.name}}
    </a>
      <div class="card__btns">
    <a href="{{ product.get_absolute_url }}" class="card__btns__btn">Подробнее</a>
    {% if product.id|string_value in cart.cart %}
          <a href="{% url 'shop:add_to_cart' product.slug %}" class="card__btns__btn">Добавлено {{cart|count_items:product.id|string_value}}</a>
    {% else %}
          <a href="{% url 'shop:add_to_cart' product.slug %}" class="card__btns__btn">В корзину</a>
    {% endif %}

          </div>
  </div>
</div>

{% endfor %}
</div>
            </div>


            <div class="pagination" style="display: flex; flex-direction: column; align-items: center">
     <ul class="pagination justify-content-center">
         <span class="step-links" style="display: flex;">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
             <li class="page-item"><a class="page-link" href="?page=1&q={{ query }}">Первая</a></li>
             <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ query }}">Предыдущая</a></li>
    {% endif %}
             {% endif %}
 {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ query }}">Следующая</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">Последняя</a></li>
    {% endif %}
    </span>

  </ul>

</div>
        </main>
    </div>
{% endblock content %}